
 .input{
  width:100%;
  margin-bottom:0.75rem;
  padding: 0.75rem;
  border: 2px solid black;
  color: black;
  font-weight: 700;
  border-radius: 0.125rem;
 
    }
    .placeholder{
      color: rgb(31,41,55)    
      }

  @media(min-width:768px){
.input{
      margin-left: 0;
      margin-right: 0;
      padding: 0.25rem;     
      font-weight: 600;
}
    }


